.App {
  text-align: center;
 
}

.holiday-list-container{
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  font-family: "Roboto";
  
}
.query-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.heading{
  font-family:"Roboto";
  text-align: center;
}

.holidays-list{
  list-style-type: none;
}


.no-holidays{
  display: flex;
  justify-content:center;
  align-items: center;
  font-family:"Roboto";
  padding: 100px;
}